.mobile{
    width: 100%;
    top: 0;
    height: 563px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-bottom: 1px solid #FF5722;
    background-color: rgba(17, 9, 9, 0.75);
}
.mobile-feedback{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;


}
.mobile-content{
    height: 81%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.mobile-content-title{
    font-size: 60px;
    text-align: center;
}
.mobile-content-text{
    font-size: 48px;
    text-align: center;
}
